# APP
ENVIRONMENT=
ENVIRONMENT_MAINTENANCE=
PORT=

# DB_CONNECTION_STRING=
DB_CONNECTION_STRING=
DB_CONNECTION_STRING_LOCAL=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SECRET_NAME=

# JWT
JWT_EXPIRY=
JWT_SECRET_KEY=

# HEADERS
NODEX_ACCESS_KEY=
NODEX_SECRET_KEY=
NODEX_CRYPTO_KEY=

# APP
MAX_LIMIT_SMALL_CAGE=9
MAX_LIMIT_MEDIUM_CAGE=15
MAX_LIMIT_LARGE_CAGE=5

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
CLOUDINARY_PROJECT_NAME=furcare